@model Capstone_project.Models.statusmodel
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Submitted Patient Data</title>
    <link rel="stylesheet" href="~/css/DataRequest.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>
<body>
    <div class="container">
        <div class="top-header">
            <a href="@Url.Action("Dashboard", "Home")" class="back-btn"><i class="fas fa-arrow-left"></i></a>
        </div>

        <div class="top-logo">
            <img src="~/Images/Logo white.png" alt="Logo" class="centered-logo" />
        </div>

        <h2>Personal Information</h2>
        <p><strong>First Name:</strong> @Model.FirstName</p>
        <p><strong>Last Name:</strong> @Model.LastName</p>
        <p><strong>Age:</strong> @Model.Age</p>
        <p><strong>Gender:</strong> @Model.Gender</p>
        <p><strong>Height:</strong> @Model.Height</p>
        <p><strong>Weight:</strong> @Model.Weight</p>

        <h2>Main Complaint</h2>
        <p><strong>What symptoms are you currently experiencing?</strong><br />@Model.Symptoms</p>
        <p><strong>When did these symptoms start?</strong><br />@Model.SymptomsStartDate</p>
        <p><strong>Are these symptoms constant or do they come and go?</strong><br />@Model.SymptomsPattern</p>

        <h2>Severity of Symptoms</h2>
        <p><strong>Rate pain severity 1–10:</strong> @Model.SeverityLevel</p>
        <p><strong>Do symptoms worsen at specific times or activities?</strong><br />@Model.SeverityCondition</p>

        <h2>Previous Medical History</h2>
        <p><strong>Do you have any chronic diseases?</strong><br />@Model.ChronicDiseases</p>
        <p><strong>Did symptoms worsen at a certain time?</strong><br />@Model.TriggerActivities</p>
        <p><strong>Taken medications before for same symptoms?</strong><br />@Model.PreviousMedications</p>

        <h2>Family History</h2>
        <p><strong>Any similar medical history in family?</strong><br />@Model.FamilyIssues</p>

        <h2>Current Medications</h2>
        <p><strong>List current medications and strength:</strong><br />@Model.CurrentMedications</p>

        <h2>Sensitivity</h2>
        <p><strong>Any medication or food allergies?</strong><br />@Model.Allergies</p>

        <h2>Lifestyle</h2>
        <p><strong>Do you smoke or drink alcohol?</strong><br />@Model.SmokingOrDrinking</p>
        <p><strong>How many hours of sleep per day?</strong><br />@Model.SleepPattern</p>
        <p><strong>Describe physical activity level:</strong><br />@Model.ActivityLevel</p>

        <div class="submit-container">
            <a href="@Url.Action("PrescriptionForm", "PrescriptionForm")">
                Add Prescription Form
            </a>
        </div>
    </div>
</body>
</html>
